{
    ViewBag.Title = "電子メールの確認";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        電子メールをご確認いただき、ありがとうございます。@Html.ActionLink("ログインするには、ここをクリックしてください。", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
